* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}


.html {
    font-size: 10px;
}



.firstsection {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(238, 236, 236);
}

.firstsection .container-fluid {
    width: 80%;
    margin: 0 auto;
}

.firstsection .nav-item a {
    color: #2c2d3f;
    font-size: 0.85rem;
    transition: 0.5s;
}

.firstsection .nav-item a span {
    color: #1a76d1;
    font-weight: 600;
}

.firstsection li a:hover {
    color: #1a76d1;
}

.firstsection .col-xl-4 {
    /* background: red; */
    position: relative;
    margin-left: auto;
}

.firstsection .col-xl-4 .nav {
    position: absolute;
    right: 0px;
    /* background: tan; */
}





/*  */


#secondsection {
    padding-top: 10px;
    height: 65px;
    position: relative;
}

#secondsection .container-fluid {
    width: 80%;
    margin: 0 auto;
}

#secondsection img {
    width: 17%;
}

#secondsection a {
    margin-top: 20px;
    color: black;
    margin-right: 25px;
    font-size: 0.9rem;
    padding-bottom: 20px;
}

#secondsection a:hover {
    color: #1a76d1;
    border-bottom: 3px solid #1a76d1;
}

#secondsection .btn{
    background: #1a76d1;
    color: white;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 1;
    transition: 1s;
    padding: 10px;
    margin-top: 0px;
    padding-left: 30px;
    padding-right: 30px;
    overflow: hidden;
    text-decoration: none;
}

#secondsection .btn:hover{
    color: white;
    border: none;
}

#secondsection .btn:after {
    content: "";
    background: #2c2d3f;
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.7s;
}

#secondsection .btn:hover:after {
    transform: skewX(-45deg) scale(1, 1);
    -webkit-transition: all 0.5s;
    transition: all 0.7s;
}

#secondsection .active .nav-link {
    color: #1a76d1;
    border-bottom: 3px solid #1a76d1;
}

#secondsection .dropdown-item:hover {
    border-bottom: none;
}



/*  */



.thirdsection {
    padding-top: 100px;
    padding-bottom: 100px;
    /* color: white; */
    width: 100%;
    background-image: linear-gradient(to right, rgb(26, 118, 209), rgba(26, 118, 209, 0.6)), url("../images/26.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 100px;
}

.thirdsection h1 {
    font-weight: 600;
}

.thirdsection span {
    padding-left: 10px;
    padding-right: 10px;
}


/*  */


.seventhsection {
    width: 100%;
    /* background: yellowgreen; */
    margin-bottom: 100px;
}

.seventhsection .container-fluid {
    width: 80%;
    margin: 0 auto;
}


.seventhsection p {
    font-size: 0.95rem;
    color: gray;
}

.seventhsection .col-lg-4 .row {
    margin-top: 40px;
}

.box5 .col-lg-4 {
    margin-top: 20px;
}

.box5 .col-lg-4 p {
    margin-top: 30px;
}


.seventhsection i {
    font-size: 3rem;
    color: #1a76d1;
}

.seventhsection h4 {
    font-size: 1.4rem;
    font-weight: 600;
}


/*  */



.thirteensection {
    padding-top: 100px;
    padding-bottom: 100px;
    /* padding-left: 200px; */
    /* padding-right: 200px; */
    width: 100%;
    background-image: linear-gradient(to right, rgb(26, 118, 209), rgba(26, 118, 209, 0.6)), url("../images/14.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.thirteensection .container-fluid {
    width: 80%;
    margin: 0 auto;
}

.thirteensection img {
    width: 80%;
    margin: 0 auto;
}


.thirdsection a {
    color: white;
    text-decoration: none;
    transition: 0.5s;
}

.thirdsection a:hover {
    color: #2c2d3f;
}


/*  */




.fourteensection {
    width: 100%;
    padding-top: 100px;
    /* padding-bottom: 100px; */
    /* background: palegreen; */
}

.fourteensection .container-fluid {
    width: 80%;
    margin: 0 auto;
}

.fourteensection h2 {
    font-weight: 600;
}

.fourteensection p {
    margin-top: 20px;
    color: gray;
}

.fourteensection img {
    width: 7%;
    margin: 0 auto;
    padding-top: 20px;
}

.box12 {
    /* background: yellow; */
    margin-top: 50px;
    padding-bottom: 0px;
    /* padding-top: 0; */
}

.box12a {
    padding-top: 20px;
    /* background: teal; */
}

.box12 .left {
    margin-top: 30px;
}

.box12 img {
    width: 100%;
    height: 580px;
}

#write input {
    padding-bottom: 200px;
}

.box12 p {
    margin-top: 20px;
}

.fourteensection .bottom {
    /* background: red; */
    width: 100%;
    /* padding-left: 25px; */
    /* margin-left: 0; */
}

.fourteensection .col-lg-7 p {
    margin-top: 35px;
    font-size: 0.85rem;
}


.box12 button{
    margin-top: 20px;
    background: #1a76d1;
    color: white;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 1;
    /* width: 100%; */
    transition: 1s;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 0.9rem;
    overflow: hidden;
}

.box12 button:hover{
    color: white;
}

.box12 button:after {
    content: "";
    background: #2c2d3f;
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.7s;
}

.box12 button:hover:after {
    transform: skewX(-45deg) scale(1, 1);
    -webkit-transition: all 0.5s;
    transition: all 0.7s;
}




/*  */




.fifteensection {
    padding: 50px;
    padding-top: 80px;
    padding-bottom: 80px;
    width: 100%;
    background: #edf2ff;
}

.fifteensection .container-fluid {
    width: 80%;
    margin: 0 auto;
}

.fifteensection .left {
    padding-right: 100px;
}

.fifteensection h4 {
    padding-bottom: 10px;
}

.fifteensection p {
    /* line-height: 10px; */
    font-size: 0.9rem;
    color: gray;
}


.fifteensection input {
    padding: 15px;
    width: 100%;
}


.fifteensection .btn{
    background: #1a76d1;
    color: white;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 1;
    width: 100%;
    transition: 1s;
    padding: 15px;
    font-size: 0.9rem;
    overflow: hidden;
}

.fifteensection .btn:hover{
    color: white;
}

.fifteensection .btn:after {
    content: "";
    background: #2c2d3f;
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.7s;
}

.fifteensection .btn:hover:after {
    transform: skewX(-45deg) scale(1, 1);
    -webkit-transition: all 0.5s;
    transition: all 0.7s;
}



/*  */


.sixteensection {
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100%;
    background: #1a76e1;
    /* opacity: 0.9; */
    color: white;
}

.sixteensection .container-fluid {
    width: 80%;
    margin: 0 auto;
}

.sixteensection h4 {
    padding-bottom: 50px;
    font-weight: 600;
}

.sixteensection p {
    font-size: 0.9rem;
}

.sixteensection span {
    padding-bottom: 15px;
    border-bottom: 3px solid white;
}

.sixteensection .col {
    /* background: yellowgreen; */
    margin: 5px;
}

.sixteensection .about i {
    margin-top: 10px;
    width: 13%;
    height: 35px;
    padding-top: 10px;
    margin-right: 10px;
    text-align: center;
    /* background: #2c2d3f; */
    border: 1px solid white;
    color: white;
    border-radius: 100%;
    transition: 0.5s;
}

.sixteensection .about i:hover {
    background-color: white;
    color: #1a76d1;
}

.sixteensection .quick i {
    padding-right: 10px;
}

.box13 p:hover {
    transition: 0.5s;
    margin-left: 10px;
}

.news p {
    padding-right: 40px;
}


.active input::-webkit-input-placeholder {
    color: white;
}

.sixteensection input {
    border: 1px solid white;
    background: #1a76e1;
    color: white;
    width: 100%;
    padding: 10px;
}

.sixteensection input:hover {
    background: #1a76e1;
    color: white;
}

.sixteensection button {
    position: relative;
    left: -30px;
    width: 100%;
    background: white;
    padding: 10px;
    color: #1a76d1;
    border-radius: 0px 5px 5px 0px;
    transition: 0.5s;
}


.sixteensection button:hover {
    background: white;
    color: #2c2d3f;
}


.sixteensection .quick a {
    color: white;
    text-decoration: none;
}




/*  */



.seventeensection {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    color: white;
    background: #1a76d1;
}



/*  */





/*  */

@media only screen and (max-width:1200px) {

    #secondsection a {
        margin-right: 15px;
    }

    .firstsection .container-fluid {
        width: 100%;
    }

    #secondsection .container-fluid {
        width: 100%;
    }

    .seventhsection .container-fluid {
        width: 100%;
    }

    .thirteensection .container-fluid {
        width: 100%;
    }

    .fourteensection .container-fluid {
        width: 100%;
    }

    .fifteensection .container-fluid {
        width: 100%;
    }

    .sixteensection .container-fluid {
        width: 99%;
    }

    .sixteensection .about i {
        font-size: 0.8rem;
    }

    .active input::-webkit-input-placeholder {
        font-size: 0.8rem;
    }

}

/*  */


@media only screen and (max-width:1024px) {


    .sixteensection p {
        font-size: 0.7rem;
    }

    .sixteensection .about i {
        width: 15%;
        margin-right: 5px;
    }

    .seventeensection i {
        font-size: 1.8rem;
    }

    .fifteensection .fifth input {
        font-size: 0.85rem;
        padding: 20px;
    }

    .fifteensection .btn {
        font-size: 0.85rem;
        padding: 20px;
    }

    .box12 img {
        height: 600px;
    }



}



/*  */



@media only screen and (max-width:992px) {


    #secondsection a {
        margin-right: 7px;
        font-size: 0.8rem;
    }

    .firstsection .nav a {
        font-size: 0.8rem;
    }


    .fifteensection p {
        font-size: 0.9rem;
        /* line-height: 10px; */
    }

    .sixteensection .col {
        margin: 0;
    }

    .sixteensection .about i {
        font-size: 0.8rem;
    }

    .sixteensection p {
        font-size: 0.75rem;
    }


    .remove {
        display: none;
    }


    .box12 button {
        font-size: 0.9rem;
    }

    .box12 p {
        font-size: 0.8rem;
    }

    .seventhsection img {
        width: 10%;
    }


    .seventhsection i {
        font-size: 2.5rem;
    }

    .fourteensection #image {
        width: 10%;
    }

    .sixteensection .about i {
        padding-top: 9px;
        margin-right: 10px;
        height: 35px;
    }




}


/*  */


@media only screen and (max-width:991px) {


    #secondsection .btn {
        display: none;
    }

    .fourteensection .col-lg-7 {
        text-align: center;
    }

    .seventhsection h4 {
        text-align: left;
    }

    .thirdsection {
        margin-bottom: 20px;
    }

    .seventhsection {
        margin-bottom: 50px;
    }


    .fifteensection .left {
        padding-right: 0px;
    }

    .fifteensection h4 {
        text-align: center;
    }

    .fifteensection p {
        text-align: center;
    }

    .sixteensection h4 {
        text-align: left;
    }

    .sixteensection .about i {
        height: 40px;
        width: 10%;
        padding-top: 12px;
    }

    .fourteensection .col-lg-7 {
        text-align: center;
    }


    .sixteensection .col-lg-3 {
        margin-top: 30px;
    }

    .fourteensection button{
        width: 100%;
    }

}


/*  */

@media only screen and (max-width:768px) {


    .firstsection .nav-item a {
        font-size: 0.7rem;
    }



    .fifteensection .col-lg-6 {
        text-align: center;
    }

    .sixteensection .col-lg-3 {
        margin-bottom: 20px;
    }

    .sixteensection p {
        font-size: 0.85rem;
    }

    .fourteensection .bottom p {
        margin-top: 35px;
    }

}


/*  */



@media only screen and (max-width:767px) {

    .firstsection {
        /* background: yellow; */
        padding-bottom: 50px;
    }

    .firstsection .col-xl-6 ul {
        /* background: red; */
        /* text-align: center; */
        justify-content: center;
    }

    .firstsection .col-xl-4 ul {
        /* background: teal; */
        width: 100%;
        justify-content: center;
    }

    .firstsection .nav a {
        font-size: 1rem;
    }

    #secondsection img {
        width: 30%;
    }

    .seventhsection .col-lg-4 p {
        margin-top: 10px;
    }

    #secondsection .active .nav-link {
        color: black;
        border-bottom: none;
    }

    .thirdsection {
        margin-bottom: 50px;
    }

    .seventhsection {
        margin-bottom: 50px;
    }


    #secondsection {
        padding-top: 10px;
        height: auto;
        padding-bottom: 10px;
    }


    .fourteensection .bottom .col-md-7 {
        text-align: center;
    }

    .fifteensection {
        text-align: center;
    }

    .fifteensection .left {
        padding-right: 0px;
    }

    .fifteensection .btn {
        margin-top: 20px;
    }


    .forthinner .col-10 p {
        margin-left: -10px;
    }

    .fourteensection .bottom p {
        margin-top: 20px;
    }

    .sixteensection .about i {
        width: 6%;
    }

}



/*  */



@media only screen and (max-width:430px) {


    .firstsection {
        padding-bottom: 60px;
    }

    .firstsection .nav a {
        font-size: 0.8rem;
    }

    .firstsection .col-xl-4 .nav {
        left: 0px;
    }

    .thirdsection {
        padding-top: 100px;
        padding-bottom: 100px;
    }


    .box14 .col-5 {
        text-align: right;
    }


    .thirteensection img {
        width: 95%;
    }


    .removal {
        display: none;
    }


    .seventhsection img {
        width: 20%;
    }


    .fourteensection button {
        width: 60%;
    }

    .fourteensection .col-md-7 p {
        text-align: left;
    }

    .sixteensection .form-inline {
        width: 100%;
    }

    .fourteensection #image {
        width: 20%;
        height: 60px;
    }

    .fifteensection {
        padding: 10px;
    }

    .fifteensection .container {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .fifteensection p {
        line-height: 30px;
    }

    .fourteensection .col-lg-7 {
        text-align: left;
    }

    .sixteensection button i {
        font-size: 1rem;
        text-align: center;
    }

    .sixteensection .about i {
        width: 10%;
    }

    .fourteensection .col-lg-6 img {
        height: 400px;
    }



}


/*  */


@media only screen and (max-width:376px) {

    .fourteensection .col-md-5 .btn {
        width: 70%;
    }

    .sixteensection button {
        left: -40px;
        padding-right: 30px;
    }

    .sixteensection .about i {
        width: 11%;
    }

    .fourteensection .col-lg-7 p {
        font-size: 0.8rem;
    }

}


/*  */

@media only screen and (max-width:320px) {

    .firstsection {
        padding-bottom: 80px;
    }


    .fourteensection .col-lg-5 .btn {
        width: 75%;
    }

    .sixteensection .about i {
        width: 12%;
    }

}