* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}


.html {
    font-size: 10px;
}



.firstsection {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(238, 236, 236);
}

.firstsection .container-fluid {
    width: 80%;
    margin: 0 auto;
}

.firstsection .nav-item a {
    color: #2c2d3f;
    font-size: 0.85rem;
    transition: 0.5s;
}

.firstsection .nav-item a span {
    color: #1a76d1;
    font-weight: 600;
}

.firstsection li a:hover {
    color: #1a76d1;
}

.firstsection .col-xl-4 {
    /* background: red; */
    position: relative;
    margin-left: auto;
}

.firstsection .col-xl-4 .nav {
    position: absolute;
    right: 0px;
    /* background: tan; */
}





/*  */


#secondsection {
    padding-top: 10px;
    height: 65px;
    position: relative;
}

#secondsection .container-fluid {
    width: 80%;
    margin: 0 auto;
}

#secondsection img {
    width: 17%;
}

#secondsection a {
    margin-top: 20px;
    color: black;
    margin-right: 25px;
    font-size: 0.9rem;
    padding-bottom: 20px;
}

#secondsection a:hover {
    color: #1a76d1;
    border-bottom: 3px solid #1a76d1;
}


#secondsection .btn{
    background: #1a76d1;
    color: white;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 1;
    transition: 1s;
    padding: 10px;
    margin-top: 0px;
    padding-left: 30px;
    padding-right: 30px;
    overflow: hidden;
    text-decoration: none;
}

#secondsection .btn:hover{
    color: white;
    border: none;
}

#secondsection .btn:after {
    content: "";
    background: #2c2d3f;
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.7s;
}

#secondsection .btn:hover:after {
    transform: skewX(-45deg) scale(1, 1);
    -webkit-transition: all 0.5s;
    transition: all 0.7s;
}

#secondsection .active .nav-link {
    color: #1a76d1;
    border-bottom: 3px solid #1a76d1;
}

#secondsection .dropdown-item:hover {
    border-bottom: none;
}



/*  */




.thirdsection {
    padding-top: 100px;
    padding-bottom: 100px;
    /* color: white; */
    width: 100%;
    background-image: linear-gradient(to right, rgb(26, 118, 209), rgba(26, 118, 209, 0.6)), url("../images/26.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 100px;
}

.thirdsection h1 {
    font-weight: 600;
}

.thirdsection span {
    padding-left: 10px;
    padding-right: 10px;
}


.thirdsection a {
    color: white;
    text-decoration: none;
    transition: 0.5s;
}

.thirdsection a:hover {
    color: #2c2d3f;
}



/*  */


.forthsection {
    margin-bottom: 100px;
}

.forthsection .container-fluid {
    width: 80%;
    margin: 0 auto;
}


.forthsection img {
    width: 100%;
    padding-top: 0;
}

.forthsection .card {
    margin-top: 20px;
    border: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: 0.5s;
}

.forthsection .card:hover {
    border-bottom: 3px solid #1a76d1;
}

.forthsection .card-bottom {
    padding: 20px;
}

.forthsection button {
    background: #1a76d1;
    color: white;
    border: none;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 0.9rem;
    margin-bottom: 20px;
    transition: 0.5s;
}

.forthsection p {
    font-size: 0.9rem;
    color: gray;
}

.forthsection i {
    background: #2c2d3f;
    color: white;
    font-size: 1.2rem;
    padding: 15px;
    position: absolute;
    right: 0;
    border-radius: 0px 10px 0px 0px;
    transition: 0.5s;
}

.forthsection i:hover {
    background: #1a76d1;
    color: white;
}

.forthsection .right {
    /* background: yellowgreen; */
    padding: 10px;
}

.forthsection .box1 {
    position: relative;
    border-radius: 10px;
    margin-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 50px;
    /* background: tan; */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.box1 input {
    margin-top: 50px;
    padding: 10px;
    font-size: 0.9rem;
}

.forthsection .box2 {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 40px;
    padding-bottom: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

.forthsection .box3 a {
    text-decoration: none;
    color: black;
    transition: 0.5s;
}

.forthsection .box3 a:hover {
    color: #1a76d1;
}

.forthsection .box2 h4 {
    font-weight: 600;
    padding-bottom: 10px;
}

.forthsection .box2 h4::before {
    content: "";
    border-left: 4px solid #1a76d1;
    padding-right: 20px;
}

.forthsection .box2 a {
    text-align: right;
    text-decoration: none;
    color: black;
    font-size: 0.9rem;
    line-height: 35px;
    transition: 0.7s;
    transition: 0.5s;
}

.forthsection .box2 a:hover {
    padding-left: 10px;
    color: #1a76d1;
}

.forthsection .box3 {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 40px;
    padding-bottom: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

.forthsection .box3 h6 {
    font-size: 0.9rem;
}

.forthsection .box3 h4 {
    font-weight: 600;
    padding-bottom: 10px;
}

.forthsection .box3 h4::before {
    content: "";
    border-left: 4px solid #1a76d1;
    padding-right: 20px;
    margin-bottom: 40px;
}

.forthsection .box3 .row {
    margin-top: 20px;
}

.forthsection .top {
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(212, 210, 210);
}

.forthsection .box3 p {
    font-size: 0.8rem;
}

.forthsection .box3 p span {
    padding-right: 10px;
}

.forthsection #space {
    padding-left: 20px;
}

.forthsection .box3 img {
    width: 100%;
    height: 80px;
}


.forthsection .box4 {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 40px;
    padding-bottom: 40px;
    margin-top: 20px;
    border-radius: 10px;
}

.forthsection .box4 h4 {
    font-weight: 600;
    padding-bottom: 10px;
    /* transition: 0.5s; */
}

.forthsection .box4 h4::before {
    content: "";
    border-left: 4px solid #1a76d1;
    padding-right: 20px;
    margin-bottom: 40px;
}

.forthsection .box4 span a {
    background: #f7f6fb;
    padding: 8px;
    margin-left: 15px;
    font-size: 0.9rem;
    line-height: 50px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    transition: 0.5s;
}

.forthsection .box4 span a:hover {
    background: #1a76d1;
    color: white;
}

.forthsection .nav {
    /* background: yellow; */
    margin-top: 50px;
    padding-left: 10px;
}

.forthsection .nav a {
    background: #f7f6fb;
    padding: 10px 20px 10px 20px;
    margin: 10px;
    border: 1px solid gray;
    text-decoration: none;
    color: gray;
    border-radius: 5px;
    transition: 0.5s;
}

.forthsection .active a {
    background: #1a76d1;
    color: white;
    border: none;
}

.forthsection .nav a:hover {
    background: #1a76d1;
    color: white;
    border: none;
}




/*  */




.fifteensection {
    padding: 50px;
    padding-top: 80px;
    padding-bottom: 80px;
    width: 100%;
    background: #edf2ff;
}

.fifteensection .container-fluid {
    width: 80%;
    margin: 0 auto;
}

.fifteensection .left {
    padding-right: 100px;
}

.fifteensection h4 {
    padding-bottom: 10px;
}

.fifteensection p {
    /* line-height: 10px; */
    font-size: 0.9rem;
    color: gray;
}


.fifteensection input {
    padding: 15px;
    width: 100%;
}


.fifteensection .btn{
    background: #1a76d1;
    color: white;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 1;
    width: 100%;
    transition: 1s;
    padding: 15px;
    font-size: 0.9rem;
    overflow: hidden;
}

.fifteensection .btn:hover{
    color: white;
}

.fifteensection .btn:after {
    content: "";
    background: #2c2d3f;
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.7s;
}

.fifteensection .btn:hover:after {
    transform: skewX(-45deg) scale(1, 1);
    -webkit-transition: all 0.5s;
    transition: all 0.7s;
}




/*  */




.sixteensection {
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100%;
    background: #1a76e1;
    /* opacity: 0.9; */
    color: white;
}

.sixteensection .container-fluid {
    width: 80%;
    margin: 0 auto;
}

.sixteensection h4 {
    padding-bottom: 50px;
    font-weight: 600;
}

.sixteensection p {
    font-size: 0.9rem;
}

.sixteensection span {
    padding-bottom: 15px;
    border-bottom: 3px solid white;
}

.sixteensection .col {
    /* background: yellowgreen; */
    margin: 5px;
}

.sixteensection .about i {
    margin-top: 10px;
    width: 13%;
    height: 35px;
    padding-top: 10px;
    margin-right: 10px;
    text-align: center;
    /* background: #2c2d3f; */
    border: 1px solid white;
    color: white;
    border-radius: 100%;
    transition: 0.5s;
}

.sixteensection .about i:hover {
    background-color: white;
    color: #1a76d1;
}

.sixteensection .quick i {
    padding-right: 10px;
}

.box13 p:hover {
    transition: 0.5s;
    margin-left: 10px;
}

.news p {
    padding-right: 40px;
}


.active input::-webkit-input-placeholder {
    color: white;
}

.sixteensection input {
    border: 1px solid white;
    background: #1a76e1;
    color: white;
    width: 100%;
    padding: 10px;
}

.sixteensection input:hover {
    background: #1a76e1;
    color: white;
}

.sixteensection button {
    position: relative;
    left: -30px;
    width: 100%;
    background: white;
    padding: 10px;
    color: #1a76d1;
    border-radius: 0px 5px 5px 0px;
    transition: 0.5s;
}


.sixteensection button:hover {
    background: white;
    color: #2c2d3f;
}


.sixteensection .quick a {
    color: white;
    text-decoration: none;
}



/*  */




.seventeensection {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    color: white;
    background: #1a76d1;
}









/*  */

@media only screen and (max-width:1200px) {

    #secondsection a {
        margin-right: 15px;
    }

    .firstsection .container-fluid {
        width: 100%;
    }

    #secondsection .container-fluid {
        width: 100%;
    }

    .forthsection .container-fluid {
        width: 98%;
    }

    .fifteensection .container-fluid {
        width: 100%;
    }

    .sixteensection .container-fluid {
        width: 99%;
    }

    .sixteensection .about i {
        font-size: 0.8rem;
    }

    .active input::-webkit-input-placeholder {
        font-size: 0.8rem;
    }

    .forthsection .box3 p span{
        padding-right: 2px;
    }

}

/*  */


@media only screen and (max-width:1024px) {


    .sixteensection p {
        font-size: 0.7rem;
    }

    .sixteensection .about i {
        width: 15%;
        margin-right: 5px;
    }

    .fifteensection .fifth input {
        font-size: 0.85rem;
        padding: 20px;
    }

    .fifteensection .btn {
        font-size: 0.85rem;
        padding: 20px;
    }

    .forthsection #space{
        padding-left: 12px;
    }

}



/*  */



@media only screen and (max-width:992px) {


    #secondsection a {
        margin-right: 7px;
        font-size: 0.8rem;
    }

    .firstsection .nav a {
        font-size: 0.8rem;
    }


    .sixteensection .col {
        margin: 0;
    }

    .sixteensection .about i {
        font-size: 0.8rem;
    }

    .sixteensection p {
        font-size: 0.75rem;
    }

    .sixteensection .about i {
        padding-top: 9px;
        margin-right: 10px;
        height: 35px;
    }


    .contactin .box .row {
        height: 170px;
        padding-right: 20px;
        padding-left: 20px;
    }

    .fifteensection p {
        font-size: 0.9rem;
        /* line-height: 10px; */
    }

    .forthsection #space{
        padding-left: 22px;
    }


}


/*  */


@media only screen and (max-width:991px) {


    #secondsection .btn {
        display: none;
    }


    .contactin .box .row {
        height: 200px;
    }


    .fifteensection .left {
        padding-right: 0px;
    }

    .fifteensection h4 {
        text-align: center;
    }

    .fifteensection p {
        text-align: center;
    }


    .sixteensection .col-lg-3 {
        margin-top: 30px;
    }

    .sixteensection .about i {
        height: 40px;
        width: 10%;
        padding-top: 12px;
    }

    .forthsection .nav {
        margin-bottom: 30px;
    }

    .forthsection .col-lg-4 {
        width: 95%;
    }

}


/*  */

@media only screen and (max-width:768px) {


    .firstsection .nav-item a {
        font-size: 0.7rem;
    }


    .sixteensection .col-lg-3 {
        margin-bottom: 20px;
    }

    .sixteensection p {
        font-size: 0.85rem;
    }

    .fifteensection .col-lg-6 {
        text-align: center;
    }

    .thirdsection {
        margin-bottom: 50px;
    }

    .forthsection {
        margin-bottom: 50px;
    }


}


/*  */



@media only screen and (max-width:767px) {

    .firstsection {
        /* background: yellow; */
        padding-bottom: 50px;
    }

    .firstsection .col-xl-6 ul {
        /* background: red; */
        /* text-align: center; */
        justify-content: center;
    }

    .firstsection .col-xl-4 ul {
        /* background: teal; */
        width: 100%;
        justify-content: center;
    }

    #secondsection {
        padding-top: 10px;
        height: auto;
        padding-bottom: 10px;
    }

    .firstsection .nav a {
        font-size: 1rem;
    }

    #secondsection img {
        width: 30%;
    }

    .sixteensection .about i {
        width: 6%;
    }




}



/*  */



@media only screen and (max-width:430px) {


    .firstsection {
        padding-bottom: 60px;
    }

    .firstsection .nav a {
        font-size: 0.8rem;
    }

    .firstsection .col-xl-4 .nav {
        left: 0px;
    }

    .thirdsection {
        padding-top: 100px;
        padding-bottom: 100px;
    }


    .box14 .col-5 {
        text-align: right;
    }

    .sixteensection button i {
        font-size: 1rem;
        text-align: center;
    }

    .forthsection .col-lg-4 {
        width: 90%;
    }

    .forthsection .box3 img {
        height: 75px;
        width: 100%;
    }

    .forthsection .box3 h6 {
        font-size: 0.92rem;
    }

    .forthsection #space {
        padding-left: 13px;
    }

    .forthsection .box3 p span {
        padding-right: 5px;
    }

    .sixteensection .about i {
        width: 10%;
    }

    .forthsection .box3{
        padding: 20px;
    }

    .forthsection .box3 h4{
        font-size: 1.2rem;
    }

    .forthsection .box3 h6{
        font-size: 0.8rem;
    }

    .forthsection .box3 h4::before {
        padding-right: 10px;
    }
    


}


/*  */


@media only screen and (max-width:376px) {


    .sixteensection button {
        left: -40px;
        padding-right: 30px;
    }

    .forthsection .box4 span {
        font-size: 0.75rem;
    }

    .forthsection .nav a {
        font-size: 0.9rem;
        margin: 5px;
    }

    .sixteensection .about i {
        width: 11%;
    }


}


/*  */

@media only screen and (max-width:320px) {

    .firstsection {
        padding-bottom: 80px;
    }

    .forthsection .box4 span {
        font-size: 0.85rem;
    }

    .forthsection .box3 img {
        height: 75px;
    }

    .sixteensection .about i {
        width: 12%;
    }


}